body{
    margin: 8px;
    padding: 8px;
    background-color: rgb(238, 210, 176);
}

.navlist{
    list-style: none;
    display: inline;
    padding: 20px 50px;
}

header{
    background-color:indianred;
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}

#home{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}
#about{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}
#work{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}
#resume{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}
#contact{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}
#form{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
}




